// app global css in SCSS form

:root {
  --main: white;
  --main-reverse: var(--q-dark);

  --secondary: var(--q-secondary);

  --bg-main: #{$grey-2};

  --shadows: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.body--dark {
  --main: var(--q-dark);
  --main-reverse: white;

  --secondary: #{$grey-5};

  --bg-main: var(--q-dark-page);

  --shadows: rgba(142, 142, 142, 0.2) 1px 1px 1px 1px;
}

.bg-header {
  background-color: var(--main) !important;
}

.bg-body {
  background-color: var(--bg-main) !important;
}

.text-header {
  color: var(--main-reverse) !important;
}

.text-secondary {
  color: var(--secondary) !important;
}

.bg-secondary {
  color: var(--secondary) !important;
}

// utility styles

.g-rounded {
  border-radius: 10px !important;
}

.g-shadow {
  box-shadow: var(--shadows);
}
